################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClothsStoreApi/bin/*
/ClothsStoreApi/obj/*
/ClothsStoreApi/obj/*
/ClothsStoreBL/obj/*
/ClothsStoreDAL/bin/*
/ClothsStoreDAL/obj/*
/ClothsStoreDatabase/*
/ClothsStoreBL/bin/*
/.vs
/ClothsStoreDAL_prev/*
